section.s2
    .v-line 
    .content-w.size-lg
        .block.b1
            .wrap 
                .bl.bl-left 
                    .item 
                        label Email 
                        ul 
                            li    <a href="mailto:pro@visualsolution.design">pro@visualsolution.design</a> — Work and General Enquiries 
                            li    <a href="mailto:infvs@outlook.com">infvs@outlook.com</a> — Studio Visits
                    .item 
                        label Follow Us 
                        ul 
                            li  <a href="https://www.facebook.com/visualsolutionsstudio/" target ="_blank">Facebook</a> / <a href="" target ="_blank">Instagram</a> 
                    .item     
                        label Address 
                        ul
                            li   T3 - 03 04 Riviera Point
                            li   02 Nguyen Van Tuong, Tan Phu Ward, District 7
                            li  <a href="https://www.google.com/maps/place/2+Nguy%E1%BB%85n+V%C4%83n+T%C6%B0%E1%BB%9Fng,+T%C3%A2n+Ph%C3%BA,+Qu%E1%BA%ADn+7,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh+760000,+Vietnam/@10.7331241,106.7261917,17z/data=!3m1!4b1!4m6!3m5!1s0x3175256360416be3:0x1678477f51d9bc93!8m2!3d10.7331241!4d106.7287666!16s%2Fg%2F11fm489x_4?entry=ttu" target="_blank">For directions</a>

                .bl.bl-right 
                    .v-line
                    .video(data-scroll data-scroll-offset="20%" )
                        .bl-video.e-fadeIn#video(data-scroll data-scroll-offset="20%").fadeIn.ani 
                            .video-container.videoWrapperYoutube
                                .coverVideo( id="playvideo")
                                    //- .center-xy.text-center
                                    //-     .btnPlay
                                #_youtube-iframe-wrapper
                                    #_youtube-iframe(data-youtubeurl="d0PxUE7DRjE")


