section.s2
    .v-line 
    .content-w.size-lg
        .block.b1
            .wrap 
                .bl.bl-left 
                    .item 
                        label Email 
                        ul 
                            li    <a href="mailto:pro@visualsolution.design">pro@visualsolution.design</a> — Work and General Enquiries 
                            li    <a href="mailto:infvs@outlook.com">infvs@outlook.com</a> — Studio Visits
                    .item 
                        label Follow Us 
                        ul 
                            li  <a href="mailto:pro@visualsolution.design">pro@visualsolution.design</a> — Facebook / Instagram
                    .item     
                        label Address 
                        ul
                            li   T3 - 03 04 Riviera Point
                            li   02 Nguyen Van Tuong, Tan Phu Ward, District 7
                            li  For directions

                .bl.bl-right 
                    .v-line
                    .img 
                        img(src="assets/images/6.png" alt="")


