section.s1
    .content-w.size-lg 
        .wrap
            .meta 
                .v-line
                .meta-head  <span class="cate">Branding</span> | <span class="name">Hanorio</span>
                .description 
                    p  Meeting People, Being a Friend then show them what they really need.
                    p Giving solution by proposing an Impacful Strategy that generates social, cultural, commercial and artistic influence.
                    p Managing Design, Branding and Visual System.
section.gallery 
    .content-w.size-lg 
        .wrap
            //- .layout.layout1 
            //-     .l-row
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")        
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //- .layout.layout2
            //-     .l-row
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")
            //-         .item 
            //-             span(style="background-image: url('assets/images/thumb.jpg')")        

            .layout.layout3 
                .l-row
                    .item 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    .item 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    .item 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    .item.video(data-scroll data-scroll-offset="20%" )
                        .bl-video.e-fadeIn#video(data-scroll data-scroll-offset="20%").fadeIn.ani 
                            .video-container.videoWrapperYoutube
                                .coverVideo(style="background-image: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/06/livingShow/images/8.jpg')" id="playvideo")
                                    .center-xy.text-center
                                        .btnPlay
                                #_youtube-iframe-wrapper
                                    #_youtube-iframe(data-youtubeurl="jo7ipbK2Ons")
                    .item 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    .item 
                        span(style="background-image: url('assets/images/thumb.jpg')")        
section.related
    .content-w.size-lg 
        .wrap 
            .title Related projects 
            .slider 
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>

                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>