section.banner 
    .content-w.size-lg
        .wrap 
            .bl.bl-left 
                .v-line 
                .img 
                    img(src="assets/images/1.png" alt="")
            .bl.bl-right 
                .tagline 
                    h3 Welcome to<br> Planet #7 
                    p Wearing our mask can help you avoid a toxic atmosphere and enjoy a beautiful time with us.
section.s2.bg-white 
    .content-w.size-lg
        .page-title Projects
        .tab
            .tab-panel 
                .panel(data-tab="tab1" class="active") Branding
                .panel(data-tab="tab2") Digital Campaign
                .panel(data-tab="tab3") Exhibition/Tradeshow
            .tab-content 
                .content#tab1.active    
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 
                .content#tab2 
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 
                .content#tab3 
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 