section.banner 
    .content-w.size-lg
        .wrap 
            .bl.bl-left 
                .v-line 
                .img 
                    img(src="assets/images/1.png" alt="")
            .bl.bl-right 
                .tagline 
                    h3.anim  Welcome to<br> Planet #7 
                    p.anim  Wearing our mask can help you avoid a toxic atmosphere and enjoy a beautiful time with us.
section.s2.bg-white 
    .content-w.size-lg
        .page-title(data-scroll data-scroll-offset="20%" ).ani.fadeInUp  Projects
        .tab
            .tab-panel(data-scroll data-scroll-offset="20%" ).ani.fadeInUp  
                .panel(data-tab="branding" class="branding") Branding
                .panel(data-tab="digital" class="digital") Digital Campaign
                .panel(data-tab="exhibition" class="exhibition") Exhibition/Tradeshow
            .tab-content(data-scroll data-scroll-offset="20%" ).ani.fadeInUp  
                .content#branding.active    
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 
                .content#digital 
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 
                .content#exhibition 
                    .content-wrap 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                        a(href="projectdetail.html").project-item 
                            .thumb
                                span(style="background-image: url('assets/images/thumb.jpg')")
                            .meta 
                                .name Hanorio 
                                .cate Flavour and Flavorist 
                    .bl-action.align-center 
                        .action-w 
                            a(href="projects.html")
                                span VIEW MORE 