section.s1
    .content-w.size-lg 
        .wrap
            .meta 
                .v-line
                .meta-head.anim  <span class="cate">Branding</span> | <span class="name">Hanorio</span>
                .description 
                    p.anim  Meeting People, Being a Friend then show them what they really need.
                    p.anim Giving solution by proposing an Impacful Strategy that generates social, cultural, commercial and artistic influence.
                    p.anim Managing Design, Branding and Visual System.
section.gallery 
    .content-w.size-lg 
        .wrap
            .layout.layout1 
                .l-row
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")        
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
            .layout.layout2
                .l-row
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp   
                        span(style="background-image: url('assets/images/thumb.jpg')")        

            .layout.layout3 
                .l-row
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    .item.fancy.video(data-scroll data-scroll-offset="20%" )
                        .bl-video.e-fadeIn#video(data-scroll data-scroll-offset="20%").fadeIn.ani 
                            .video-container.videoWrapperYoutube
                                .coverVideo( id="playvideo")
                                    //- .center-xy.text-center
                                    //-     .btnPlay
                                #_youtube-iframe-wrapper
                                    #_youtube-iframe(data-youtubeurl="jo7ipbK2Ons")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                        span(style="background-image: url('assets/images/thumb.jpg')")
                    a(href="assets/images/thumb.jpg" data-fancybox ).item.fancy(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                        span(style="background-image: url('assets/images/thumb.jpg')")        
section.related
    .content-w.size-lg 
        .wrap 
            .title(data-scroll data-scroll-offset="20%" ).ani.fadeInUp Related projects 
            .slider(data-scroll data-scroll-offset="20%" ).ani.fadeInUp 
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>
                        <div class="swiper-slide"> 
                            a(href="projectdetail.html").project-item 
                                .thumb
                                    span(style="background-image: url('assets/images/thumb.jpg')")
                                .meta 
                                    .name Hanorio 
                                    .cate Flavour and Flavorist </div>

                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>