section.s2
    .v-line 
    .content-w.size-lg
        .block.b1
            .wrap 
                .title Hello! Victor here
                .description 
                    p  I founded the company to..hmm...make money, of course! But there is something more important than to make a living. It’s the creative mindset that I desire to share with everyone.
                    p Seem to me that God created everything great already. My mission is to use those fascinating materials on purpose of letting people realize how wonderful His creation is, through my creative works.
        .block.b2
            .wrap 
                .bl.bl-left 
                    .title What <br>Vs  do ?
                .bl.bl-right 
                    .description 
                        p Meeting People, Being a Friend then show them what they really need.
                        p Giving solution by proposing an Impacful Strategy that generates social, cultural, commercial and artistic influence.
                        p Managing Design, Branding and Visual System.