section.banner 
    .content-w.size-lg
        .wrap 
            .bl.bl-left 
                .v-line 
                .img 
                    img(src="assets/images/1.png" alt="")
            .bl.bl-right 
                .tagline 
                    h3 Welcome to<br> Planet #7 
                    p Wearing our mask can help you avoid a toxic atmosphere and enjoy a beautiful time with us.
section.s2.bg-white 
    .content-w.size-lg
        .block.s2_1
            .wrap 
                .bl.bl-left 
                    .img 
                        img(src="assets/images/2.png" alt="")
                .bl.bl-right 
                    .sapo
                        p Seem to me that God created everything great already. My mission is to use those fascinating materials on purpose of letting people realize how wonderful His creation is, through my creative works.
        .block.s2_2
            .gallery
                a(href="projects.html").item.txt
                    span Branding
                a(href="projects.html").item.img
                    span(style="background-image: url('assets/images/5.jpg')")
                a(href="projects.html").item.img
                    span(style="background-image: url('assets/images/4.jpg')")
                a(href="projects.html").item.txt
                    span Digital Campaign
                a(href="projects.html").item.txt
                    span Exhibition
                a(href="projects.html").item.img
                    span(style="background-image: url('assets/images/3.jpg')")
            .bl-action.align-center 
                .action-w 
                    a(href="projects.html")
                        span MORE PROJECTS 
            .quote 
                p And let us not grow weary of doing good, for in due season we will reap, if we do not give up
                p Galatians 6:9
        .block.s2_3 
            .wrap 
                label Who have visited our planet
                .slider 
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>
                            <div class="swiper-slide"> <img src="assets/images/logo.png"/></div>