extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var modal = true

block head
	include head.pug
	
block pages_component
	- body_class.push("")
	- project_wrapper_class.push("project-layout")
	- header_class.push("")
	- main_content_class.push("page-content")
	- footer_class.push("")

block header
	include component/header.pug

block body
	include component/body.pug

block modal
	
block footer
	include component/footer.pug

block slidebar
	include component/slidebar.pug

block javascript
	include component/javascript.pug
