footer.footer 
    .v-line
    .content-w 
        .wrap 
            .bl.bl-left 
                .top 
                    ul 
                        li.anim Versus
                        li.anim problem
                        li.anim ideation
                        li.anim emotional
                .contact 
                    ul 
                        li.anim 
                            a(href="#!") pro@visualsolutions.design
                        li.anim  
                            a(href="") Instagram 
                        li.anim 
                            a(href="") Facebook

            .bl.bl-right
                .slogan.anim  Strategy - Branding - Exhibition - Digital Campaign   
                .copy-right.anim © 2022 VIsualSolutions. All Rights Reserved.

