footer.footer 
    .content-w 
        .wrap 
            .bl.bl-left 
                .top 
                    ul 
                        li.anim Versus
                        li.anim problem
                        li.anim ideation
                        li.anim emotional
                .contact 
                    ul 
                        li.anim 
                            a(href="mailto:pro@visualsolutions.design") pro@visualsolutions.design
                        li.anim  
                            a(href="") Instagram 
                        li.anim 
                            a(href="https://www.facebook.com/visualsolutionsstudio/" target="_blank") Facebook

            .bl.bl-right
                .v-line
                .slogan.anim  Strategy - Branding - Exhibition - Digital Campaign   
                .copy-right.anim © 2022 VIsualSolutions. All Rights Reserved.

