footer.footer 
    .v-line
    .content-w 
        .wrap 
            .bl.bl-left 
                .top 
                    ul 
                        li Versus
                        li problem
                        li ideation
                        li emotional
                .contact 
                    ul 
                        li 
                            a(href="#!") pro@visualsolutions.design
                        li  
                            a(href="") Instagram 
                        li 
                            a(href="") Facebook

            .bl.bl-right
                .slogan  Strategy - Branding - Exhibition - Digital Campaign   
                .copy-right © 2022 VIsualSolutions. All Rights Reserved.

