
.close-slidebar.js-close-demo-callbacks
	span
		img(src="assets/images/close_white.png", alt="")
nav
	ul
		li
			a(href="#!") Homepage
		li
			a(href="the-le.html") Thể lệ
		li
			a(href="#!" class="nav-login" data-toggle="modal" data-target="#login") Đăng nhập
		li
			a(href="#!" class="nav-logout") Đăng xuất
