//- ================ SETUP ==================
- var page_title = "Project name"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "description here"

// ================= js ====================
- var jquery 		        = true
- var bootstrap 	        = true
- var masonry 		        = true
- var infinity_scroll 		= true
- var swiper 		        = true
- var greensock 		    = true
- var tweenlite 		    = true
- var imagesloaded 		    = true
- var vanilla 		        = true

- var scrollTrigger 		= true
- var locomotive 		    = true
- var daterangepicker 		= true
- var moment 		        = true
- var mainjs 		        = true

//------------------------------ URL ------------------------------
- var Url = ""