extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = false
	- var footer = true
	- var modal = true

block head
	include head.pug

block pages_component
	- body_class.push("homepage")
	- project_wrapper_class.push("project-layout")
	- header_class.push("")
	- main_content_class.push("page-content")
	- footer_class.push("")

block header
	include component/header.pug

block body
	include component/body.pug

block modal

block footer
	include component/footer.pug


block javascript
	include component/javascript.pug
	script.
		var swiper = new Swiper(".mySwiper", {
			speed: 1000,
			slidesPerView: 10,
			spaceBetween: 40,
			loop: true,
			centeredSlides: true,
			autoplay: {
				delay: 1000,
				disableOnInteraction: false,
			},

		});